@page "{id:int}"
@model RandyPowell.Pages.Experiences.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Experience</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Experience.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Experience.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Experience.Organization)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Experience.Organization)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Experience.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Experience.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Experience.Dates)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Experience.Dates)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Experience.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Experience.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Experience._desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Experience._desc)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Experience.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
