@page
@model RandyPowell.Pages.SkillsModel
@{
    ViewData["Title"] = "Skills";
}
<div class="headerPanel skillPanel rounded">
    <h2 class="text-center">Technical Skills</h2>
</div>
<div class="row text-center">

    <div class="col-md-6 border skillGroup">
        <h3>Front End</h3>
        <ul>
            @foreach (var skill in Model.Skills.Where(i=>i.Type==0)) {
            <li>
                <a class="btn btn-outline-skill mb-1" href="#@skill.Title-col" data-toggle="collapse" aria-expanded="false" aria-controls="@skill.Title-col">
                    @skill.Title <i class="fas fa-caret-down"></i>
                </a>
                <div class="border ml-5 rounded p-1 collapse" id="@skill.Title-col">

                    <p class="mb-0 text-left">Used in...</p>
                    @foreach (var exp in skill.ExperienceSkills)
                    {
                    <a class="btn btn-dark mt-1" role="button" asp-page="Experiences/Details" asp-route-id="@exp.ExperienceId">
                        @Model.Experience.FirstOrDefault(i => i.ID == exp.ExperienceId).Title
                    </a>
                    }

                </div>
            </li>
            }
        </ul>
    </div>
    <div class="col-md-6 border skillGroup">
        <h3>Back End</h3>
        <ul>
            @foreach (var skill in Model.Skills.Where(i => i.Type == 1))
            {
                <li>
                    <a class="btn btn-outline-skill mb-1" href="#@skill.Title-col" data-toggle="collapse" aria-expanded="false" aria-controls="@skill.Title-col">
                        @skill.Title <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="border ml-5 rounded p-1 collapse" id="@skill.Title-col">

                        <p class="mb-0 text-left">Used in...</p>
                        @foreach (var exp in skill.ExperienceSkills)
                        {
                            <a class="btn btn-dark mt-1" role="button" asp-page="Experiences/Details" asp-route-id="@exp.ExperienceId">
                                @Model.Experience.FirstOrDefault(i => i.ID == exp.ExperienceId).Title
                            </a>
                        }

                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-6 border skillGroup">
        <h3>Embedded Systems</h3>
        <ul>
            @foreach (var skill in Model.Skills.Where(i => i.Type == 2))
            {
                <li>
                    <a class="btn btn-outline-skill mb-1" href="#@skill.Title-col" data-toggle="collapse" aria-expanded="false" aria-controls="@skill.Title-col">
                        @skill.Title <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="border ml-5 rounded p-1 collapse" id="@skill.Title-col">

                        <p class="mb-0 text-left">Used in...</p>
                        @foreach (var exp in skill.ExperienceSkills)
                        {
                            <a class="btn btn-dark mt-1" role="button" asp-page="Experiences/Details" asp-route-id="@exp.ExperienceId">
                                @Model.Experience.FirstOrDefault(i => i.ID == exp.ExperienceId).Title
                            </a>
                        }

                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-6 border skillGroup">
        <h3>Other Languages</h3>
        <ul>
            @foreach (var skill in Model.Skills.Where(i => i.Type == 3))
            {
                <li>
                    <a class="btn btn-outline-skill mb-1" href="#@skill.Title-col" data-toggle="collapse" aria-expanded="false" aria-controls="@skill.Title-col">
                        @skill.Title <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="border ml-5 rounded p-1 collapse" id="@skill.Title-col">

                        <p class="mb-0 text-left">Used in...</p>
                        @foreach (var exp in skill.ExperienceSkills)
                        {
                            <a class="btn btn-dark mt-1" role="button" asp-page="Experiences/Details" asp-route-id="@exp.ExperienceId">
                                @Model.Experience.FirstOrDefault(i => i.ID == exp.ExperienceId).Title
                            </a>
                        }

                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-6 border skillGroup">
        <h3>Operating Systems</h3>
        <ul>
            @foreach (var skill in Model.Skills.Where(i => i.Type == 4))
            {
                <li>
                    <a class="btn btn-outline-skill mb-1" href="#@skill.Title-col" data-toggle="collapse" aria-expanded="false" aria-controls="@skill.Title-col">
                        @skill.Title <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="border ml-5 rounded p-1 collapse" id="@skill.Title-col">

                        <p class="mb-0 text-left">Used in...</p>
                        @foreach (var exp in skill.ExperienceSkills)
                        {
                            <a class="btn btn-dark mt-1" role="button" asp-page="Experiences/Details" asp-route-id="@exp.ExperienceId">
                                @Model.Experience.FirstOrDefault(i => i.ID == exp.ExperienceId).Title
                            </a>
                        }

                    </div>
                </li>
            }
        </ul>    
    </div>
    <div class="col-md-6 border skillGroup">
        <h3>Development Tools</h3>
        <ul>
            @foreach (var skill in Model.Skills.Where(i => i.Type == 5))
            {
                <li>
                    <a class="btn btn-outline-skill mb-1" href="#@skill.Title-col" data-toggle="collapse" aria-expanded="false" aria-controls="@skill.Title-col">
                        @skill.Title <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="border ml-5 rounded p-1 collapse" id="@skill.Title-col">

                        <p class="mb-0 text-left">Used in...</p>
                        @foreach (var exp in skill.ExperienceSkills)
                        {
                            <a class="btn btn-dark mt-1" role="button" asp-page="Experiences/Details" asp-route-id="@exp.ExperienceId">
                                @Model.Experience.FirstOrDefault(i => i.ID == exp.ExperienceId).Title
                            </a>
                        }

                    </div>
                </li>
            }
        </ul>
    </div>

</div>
